<!DOCTYPE html>
<html lang="en">
	<head>
    	<%= require('html-loader!./layout/head-common.html')%>
    	<title><%= htmlWebpackPlugin.options.title%> - MMall Online Shopping</title>
	</head>
    <body>
    	<%= require('html-loader!./layout/nav-simple.html')%>
    	<div class="page-wrap">
    		<div class="w">
    			<div class="user-con">
    				<div class="user-title">Registration</div>
    				<div class="user-box">
	    				<div class="error-item">
	    					<i class="fa fa-minus-circle error-icon"></i>
	    					<p class="err-msg">Error</p>
	    				</div>
    					<div class="user-item">
    						<label class="user-label" for="username">
    							<i class="fa fa-user"></i>
    						</label>
    						<input class="user-content" id="username" placeholder="Please enter username" autocomplete="off"></input>
    					</div>
    					<div class="user-item">
    						<label class="user-label" for="password">
    							<i class="fa fa-lock"></i>
    						</label>
    						<input type="password" class="user-content" id="password" placeholder="Please enter password" autocomplete="off"></input>
    					</div>
    					<div class="user-item">
    						<label class="user-label" for="password-confirm">
    							<i class="fa fa-lock"></i>
    						</label>
    						<input type="password" class="user-content" id="password-confirm" placeholder="Please enter password again" autocomplete="off"></input>
    					</div>
    					<div class="user-item">
    						<label class="user-label" for="phone">
    							<i class="fa fa-phone"></i>
    						</label>
    						<input class="user-content" id="phone" placeholder="Please enter phone number" autocomplete="off"></input>
    					</div>
    					<div class="user-item">
    						<label class="user-label" for="email">
    							<i class="fa fa-envelope"></i>
    						</label>
    						<input class="user-content" id="email" placeholder="Please enter email" autocomplete="off"></input>
    					</div>
    					<div class="user-item">
    						<label class="user-label" for="question">
    							<i class="fa fa-question"></i>
    						</label>
    						<input class="user-content" id="question" placeholder="Please set a security question" autocomplete="off"></input>
    					</div>
    					<div class="user-item">
    						<label class="user-label" for="answer">
    							<i class="fa fa-key"></i>
    						</label>
    						<input class="user-content" id="answer" placeholder="Please set an answer to security question" autocomplete="off"></input>
    					</div>
    					<div class="btn btn-submit" id="submit">Sign up</div>
    					<div class="link-item">
    						<a class="link" href="./user-login.html">Sign up before, go to sign in>></a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
     	<%= require('html-loader!./layout/footer.html')%>
    </body>
</html>