/*
* @Author: yw850
* @Date:   2017-07-19 00:48:23
* @Last Modified by:   yw850
* @Last Modified time: 2017-07-27 14:38:34
*/
.form-line{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.form-line .label{
	display: inline-block;
	width: 60px;
	text-align: left;
	margin-right: 20px;
}