<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link" href="http://www.facebook.com" target="_blank">Facebook</a> |
			<a class="link" href="https://www.google.com" target="_blank">Google</a> |
			<a class="link" href="https://www.amazon.com" target="_blank">Amazon</a> |
			<a class="link" href="https://www.linkedin.com" target="_blank">Linkedin</a>
		</div>
		<p class="copyright">
			Copyright © 2017 yw850.com All Right Reserved
		</p>
	</div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>