<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="MMall，happymmall，MMall eCommerce，Online Shopping，online store，digital product，Mobile phone，laptop，camera，watch，headphone，eBusiness video，eBusiness tutorial">
<meta name="description" content="Mobile phone、PC、online shopping、cloth、baby、books、food，good quality、fast online shopping website.">
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.yw850.com">
<link rel="dns-prefetch" href="//img.yw850.com">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b32e377df71d6fe1b87da59d54a24e48";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

