<div class="nav">
	<div class="w">
		<div class="user-info">
			<span class="user not-login">
				<span class="link js-login">Sign in</span>
				<span class="link js-register">Sign up</span>
			</span>
			<span class="user login">
				<span class="link-text js-login">
					WelCome:  
					<span class="username">
					
					</span>
				</span> |
				<span class="link js-logout">Sign out</span>
			</span>
		</div>
		<ul class="nav-list">
			<li class="nav-item">
				<a class="link" href="./cart.html">
					<i class="fa fa-shopping-cart"></i>
					My cart(<span class="cart-count">0</span>)
				</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./order-list.html">My order</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./user-center.html">Profile</a>
			</li>
			<li class="nav-item">
				<a class="link" href="./about.html">About MMall</a>
			</li>
		</ul>
	</div>
</div>