/*
* @Author: yw850
* @Date:   2017-07-13 00:20:55
* @Last Modified by:   yw850
* @Last Modified time: 2017-07-27 15:57:39
*/
/*keyword-list*/
.keywords-list{
	float: left;
	width: 240px;
	height: 350px;
	padding: 10px 0;
	margin-right: 10px;
	background: #666;
	color: #fff;
}
.keywords-list .keywords-item{
	padding-left: 10px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}
.keywords-list .keywords-item:hover{
	background: #999;
}
.keywords-list .keywords-item .link{
	color: #fff;
	margin-right: 6px;
}
.keywords-list .keywords-item .link:hover{
	color: #c60023;
}
/*banner-con*/
.banner-con{
	width: 830px;
	height: 370px;
	float: left;
	background: #eee;
}
.banner-con .loading{
	margin-top: 150px;
}
.banner-con .banner-img{
	width: 100%;
	height: 370px;
}
/*banner前一张和后一张*/
.banner-con .banner-arrow{
	position: absolute;
	top: 160px;
	width: 30px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	background: #ccc;
	background: rgba(0,0,0,.2);
	cursor: pointer;

}
.banner-con .banner-arrow:hover{
	background: #aaa;
	background: rgba(0,0,0,.5);
}
.banner-con .banner-arrow.prev{
	left: 0;
}
.banner-con .banner-arrow.next{
	right: 0;
}

/*slider引导点*/
.banner .dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	text-align: center;
}
.banner .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;

	text-indent: -999em;

	border: 2px solid #fff;
	border-radius: 6px;

	cursor: pointer;
	opacity: .4;

	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.banner .dots li.active {
	background: #fff;
	opacity: 1;
}
/*floor*/
.floor-wrap .floor-title{
	height: 50px;
	line-height: 50px;
	color: #d58717;
	font-weight: normal;
	font-size: 20px;
	border-bottom: 1px solid #d58717;
}
/*更改阁楼城标题颜色*/
.floor-wrap:nth-child(2) .floor-title{
	color: #3b838c;
	border-bottom: 1px solid #3b838c;

}
.floor-wrap:nth-child(3) .floor-title{
	color: #a93931;
	border-bottom: 1px solid #a93931;

}
.floor-wrap:nth-child(4) .floor-title{
	color: #488bad;
	border-bottom: 1px solid #488bad;

}
.floor-wrap:nth-child(5) .floor-title{
	color: #642663;
	border-bottom: 1px solid #642663;

}
.floor-wrap .floor-list{
	margin-right: -20px;
	overflow: hidden;
}
.floor-wrap .floor-list .floor-item{
	position: relative;
	width: 200px;
	height: 220px;
	margin: 15px 20px 15px 0;
	float: left;
	cursor: pointer;
	background: #fff;
}
.floor-wrap .floor-list .floor-item:hover{
	box-shadow: 1px 1px 7px #ddd;
}
.floor-wrap .floor-list .floor-item .floor-text{
	position: absolute;
	top: 12px;
	left: 20px;
	font-size: 16px;
	color: #555;
}
.floor-wrap .floor-list .floor-item .floor-img{
	position: absolute;
	right: 15px;
	bottom: 10px;
	width: 80%;/*是该容器的宽度，不是页面*/
	height: 75%;
	border: none;
}

/*modal*/
.modal{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*如果是高级浏览器里，background定义会被覆盖*/
	background: #eee;
	background: rgba(0,0,0,.4);
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}
.modal .modal-container{
	width: 700px;
	/*auto就是剧中*/
	margin: 50px auto;
	background: #fff;
	border-radius: 2px;
}
.modal .modal-container .modal-header{
	position: relative;
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
.modal .modal-container .modal-header .modal-title{
	font-size: 14px;
}
.modal .modal-container .modal-header .close{
	position: absolute;
	padding: 10px;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.modal .modal-container .modal-body{
	padding: 15px;
}

/*form*/
.form .form-line{
	margin: 5px 0;
	overflow: hidden;
}
.form .form-line .label{
	display: block;
	float: left;
	/*width: 85px;*/
	/*text-align: right;*/
	height: 70px;
	line-height: 30px;
	margin: 15px;
	cursor: pointer;
	font-size: 20px;
}
.modal-header .modal-title .required{
	color: red;
}
.form .form-line .btn{
	margin-left: 95px;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	float: right;
}